<h2 style="text-align: center; padding-top: 2%; color: blue;">Welcome to DigiLiab Readers!</h2>
<div class="row">
    <div class="col-md-5 col-lg-4 col-sm-6">
        <div class="card" style="margin:12px; padding-inline: 5px; height: 380px;">  
                <img src="../../../assets/Portable.jpg" class="img-responsive" style="max-height: 280px;">        
                <h4 class="card-body">Now enjoy the experience of a liabrary anywhere you go.</h4>
        </div>
    </div>
    <div class="col-md-5 col-lg-4 col-sm-6">
        <div class="card" style="margin:12px; padding-inline: 5px; height: 380px;">
                <img src="../../../assets/laib_on_lappy.jpg" class="img-responsive" style="max-height: 280px;">
                <h4 class="card-body">Keep all your reneted books stored in your device,
                     and enjoy them where you want to enjoy them.</h4>
        </div>
    </div>
    <div class="col-md-5 col-lg-4 col-sm-6">
            <div class="card" style=" margin:12px; padding-inline: 5px; height: 380px;">
                <img src="../../../assets/format.jpg" class="img-responsive" style="max-height: 280px;">
                    <h4 class="card-body">Of course! Your purchased books will in 
                        available to you in whichever format you want.</h4>
            </div>
    </div>
</div>

<div style="height: 50px;"> 
<span [routerLink]="['/']" style="padding-left: 2%;" class="blinking">So, what are you waiting for. Start exploring!</span>
<span style="font-size: 30px; float: right; " (click)="scroll(Bottom)">Contact us..</span>
</div>

<div #Bottom style="align-self: baseline; text-align: left; padding-left: 10%;" 
class="bg-dark">
   <br/> <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:cornsilk; font-size: 20px;">
    You can call on our landline number: 1800 99 44 99</p>
    <br/>
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:cornsilk; font-size: 20px;">
        Or mail us at: digiliab.help@gmail.com</p>
    <br/>
    </div>

